body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: lightgray;
}
#project{
    height: 59px;
    background-color: #ffffff;
    color: #ffff;
    padding:0 50px;
    position: relative;
    z-index: 1;
}
#project .menuleft a{
    font-size: 20px;
    float: left;
    text-decoration: none;
    padding: 20px 10px 0;
    color: black;
}
#project .menuright a{
    font-size: 20px;
    float: right;
    text-decoration: none;
    color: black;
    padding: 20px 40px 0;
}
#secondphase{
    background-color: rgb(13, 0, 31);
    padding-top: 150px;
    height: 380px;
    
}
#secondphase div img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 7%;
    border-radius: 50%;
   padding-top: 0px;
   margin-top: -130px;
}
#secondphase .head1{
    color: rgb(196, 192, 243);
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}
#secondphase .head1 h3{
    color: rgb(196, 192, 243);
    text-align: center;
    font-size: 16px;
}
#secondphase .head1 h1{
    font-size: 25px !important;
}
.head2 h1{
    color: rgb(9, 255, 91);
    text-align: center;
    padding-top: 19px;
    font-size: 33px;
}
.head2 p{
    color: rgb(196, 192, 243);
    text-align: center;
    font-size: 19px;
}
#thirdphase{
    background-image: url(./img/coffee2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
    height: 600px;
    box-shadow: 0 0 5px #9999998c;
}
#thirdphase div h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 29px;
    font-size: 33px;
}
#thirdphase div p{
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}
#forthphase{
    background-image: url(./img/pastre2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
    height: 800px;   
}
#forthphase div h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 29px;
    font-size: 33px;
}
#forthphase div p{
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}
#fifthphase{
    background-color: rgb(13, 0, 31);
}
#fifthphase div{
    color: rgb(196, 192, 243);;
    text-align: center;
    font-size: 20px;
    height: 200px;
    padding-top: 40px;
}
#sixthphase{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
}
#sixthphase div img{
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888888;
}
#sixthphase div h1{
    color: rgb(13, 0, 31);
    padding-top: 40px;
    padding-left: 10px;
}
#sixthphase div p{
    color: black;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 16px;
}
#seventhphase {
    background-color: #e7e2e2;
}
#seventhphase .secondlogo{
    
    border-radius: 50%;
    padding-top: 50px;
}
#seventhphase .secondlogo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    border-radius: 50%;
}
.sevencont{
    text-align: center;
    padding-bottom: 50px;
}
.sevencont h1{
    color: rgb(0, 0, 0);
    padding-top: 20px;
    font-size: 33px;
}
.sevencont p{
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.sevencont button{
    background-color: rgb(13, 0, 31);
}
#eightphase{
    background-color: rgb(13, 0, 31);
    padding-top: 80px;
    box-shadow: 0 0 15px #000000; 
}
#eightphase div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    border-radius: 50%;
}
.eighthead{
    text-align: center;
    padding-bottom: 50px;
}
.eighthead h1{
    color: rgb(9, 255, 91);
    text-align: center;
    padding-top: 19px;
    font-size: 33px;
}
.eighthead p{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 30px;
}
.eighthead button{
    background-color: rgb(9, 255, 91);
}
#ninthphase{
    background-image: url(./img/SO.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
    height: 800px;
}
#ninthphase h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 60px;
    font-size: 33px;
}
#ninthphase p{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}
#tenthphase{
    background-image: url(./img/birthday.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
    height: 800px;
}
#tenthphase h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 60px;
    font-size: 33px;
}
#tenthphase p{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    padding-top: 50px;
}
#elephase{
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
}
#elephase .p1{
    padding-top: 40px !important;
    font-size: 20px;
}
#elephase button{
    background-color: rgb(13, 0, 31);
}
#elephase h1{
    padding: 40px;
    font-weight: lighter;
}
.bgimage{
    background-image: url(./img/plant.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    box-shadow: 5px 5px 5px #888888;
}
#clockDisplay{
    float: left;
    padding: 600px 500px 30px 20px;
    color: white;
    font-size: 40px;
    font-weight: lighter;
}
#twephase{
padding-left: 50px;
padding-right: 50px;
}
#twephase h1{
    font-weight: lighter;
    font-size: 40px;
    padding-bottom: 40px;
}
#twephase button{
    width: 22%;
    background-color: rgb(0, 255, 76);
    border: none;
}
hr{
    width: 80%;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.bg2image{
    background-image: url(./img/birthparty.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    box-shadow: 5px 5px 5px #888888;
}
.bg2image .dateView{
    float: left;
    padding: 600px 0px 30px 20px;
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: -10px;
}
.bg2image .dayView{
    padding: 620px 1100px 5px 73px;
    color: white;
    font-size: 15px;
    margin-bottom: -9px;
    font-weight: lighter;
}
.bg2image .monthView{
    padding: 0 1100px 5px 73px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}
.twehead2{
    padding-top: 40px;
}
#thirphase{
    padding-right: 50px;
    padding-left: 50px;
}
.bg3image{
    background-image: url(./img/fair.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    box-shadow: 5px 5px 5px #888888;
}
.bg3image .dateView{
    float: left;
    padding: 600px 0px 30px 20px;
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: -10px;
}
.bg3image .dayView{
    padding: 620px 1100px 5px 73px;
    color: white;
    font-size: 15px;
    margin-bottom: -9px;
    font-weight: lighter;
}
.bg3image .monthView{
    padding: 0 1100px 5px 73px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}
#thirphase h1{
    font-weight: lighter;
    font-size: 40px;
    padding-bottom: 40px;
}
#thirphase button{
    width: 22%;
    background-color: rgb(0, 255, 76);
    border: none;